{{title (t 'examples.title')}}
<h1>{{t 'examples.header'}}</h1>
<hr>

<ul class="list-group">
  <li class='list-group-item'>
    <a target='_blank' href="https://github.com/housleyjk/ws-rs/tree/stable/examples/server.rs">{{t 'examples.server.link'}}</a><br>
    {{t 'examples.server.description'}}</li>
  <li class='list-group-item'>
    <a target='_blank' href="https://github.com/housleyjk/ws-rs/tree/stable/examples/client.rs">{{t 'examples.client.link'}}</a><br>
    {{t 'examples.client.description'}}</li>
  <li class='list-group-item'>
    <a target='_blank' href="https://github.com/housleyjk/ws-rs/tree/stable/examples/shared.rs">{{t 'examples.shared.link'}}</a><br>
    {{t 'examples.shared.description'}}</li>
  <li class='list-group-item'>
    <a target='_blank' href="https://github.com/housleyjk/ws-rs/tree/stable/examples/threaded.rs">{{t 'examples.threaded.link'}}</a><br>
    {{t 'examples.threaded.description'}}</li>
  <li class='list-group-item'>
    <a target='_blank' href="https://github.com/housleyjk/ws-rs/tree/stable/examples/channel.rs">{{t 'examples.channel.link'}}</a><br>
    {{t 'examples.channel.description'}}</li>
  <li class='list-group-item'>
    <a target='_blank' href="https://github.com/housleyjk/ws-rs/tree/stable/examples/pong.rs">{{t 'examples.pong.link'}}</a><br>
    {{t 'examples.pong.description'}}</li>
</ul>
